.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: #ccd0cf solid 1px;
    background-color: #1e1f22ac;
    backdrop-filter: blur(5px);
    width: 300px;
    padding: 10px;
}

.header {
    background-color: #b4cded;
    color: #222;
    padding: 10px;
    font-weight: 800;
    font-size: large;
    text-align: center;
    border-radius: 5px;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.botMessage {
    align-self: flex-start;
    background-color: #ccd0cf;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: #222;
}

.userMessage {
    align-self: flex-end;
    background-color: #b4cded;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: #222;
}

.message {
    font-size: medium;
    font-weight: 500;
}

.options {
    margin-top: 10px;
}

.question {
    background-color: #1e1f22ac;
    border: #ccd0cf solid 1px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

.question:hover {
    background-color: #ccd0cf29;
}

.disabledQuestion {
    background-color: #1e1f22ac;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
}