.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.link {
    padding: 5px;
    text-decoration: none;
}

.link:hover {
    color:  #b4cded;
}

.copyright {
    padding-left: 200px;
}