.container {
    border-radius: 9999px; /* full rounded */
    border: 1px solid transparent;
    background-color: rgba(30, 31, 34, 0.67);
    backdrop-filter: blur(10px); /* example value for blur */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    gap: 1rem; /* space between items */
    padding: 1.5rem 2rem; /* padding: py-6 px-8 */
  }
  
/* Media query for screens smaller than 640px (sm) */
@media (max-width: 639px) {
    .container {
      gap: 0.5rem; /* Reduce space between items */
      padding: 1rem; /* Less padding */
    }
  }
  
  /* Media query for screens between 300px and 500px */
  @media (max-width: 500px) {
    .container {
      gap: 0.25rem; /* Reduce space between items further */
      padding: 0.75rem; /* Even less padding */
    }
  }
  
  /* Media query for screens between 500px and 768px */
  @media (max-width: 768px) {
    .container {
      gap: 0.5rem; /* Slightly more space between items */
      padding: 1rem; /* Moderate padding */
    }
  }
  
  /* Media query for screens between 768px and 1024px */
  @media (max-width: 1024px) {
    .container {
      gap: 0.75rem; /* Moderate space between items */
      padding: 1.25rem; /* Moderate padding */
    }
  }