.container{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.header {
    font-size: 25px;
    padding: 30px;
}

.divider {
    background-color: #ccd0cf;
    height: 1px;
}

.skills {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.skill {
    padding: 5px;
    background-color: #2e2e2e;
    color: #ccd0cf;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.tech {
    padding: 20px;
}